<footer style="font-size: 0.8em;margin-top:5vh;text-align:center;">
	<hr />
	<p>
		Coypright &copy; 2017-2019
		<a href="https://ankitrgadiya.in/">Ankit R Gadiya</a>
	</p>
	<img alt="Creative Commons Licence" src="/by-sa.svg" />
	<p>
		This work is licensed under a <a rel="license"
		href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
		Attribution-ShareAlike 4.0 International License</a>.
	</p>
</footer>

