<nav>
	<div class="left" style="text-align:left;float:left;">
		<a href="/">Argp</a>
	</div>
	<div class="right" style="text-align:right;">
		<a href="/sitemap.html">Tree</a> |
		<a href="https://gitlab.com/ankit-sites/argp/">Source</a>
	</div>
</nav>
